.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 0.5rem;
    line-height: 1.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

    .img-fluid {
        max-width: 500px;;
    }