
  {% include "/dashboard/dashboard_header.html" %}
{% include "/dashboard/dashboard-aside.html" %}
         

<div class="container">
  <div class="container mx-5">
  <div class="container p-5">
		<div class="card mx-5">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-4">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="{{book.cover_photo}}" height="370px" /></div>
						</div>
						
					</div>
					<div class="details col-md-8">
						<h3 class="product-title">{{book.title}}</h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div>
						<p class="product-description">The Book of Soul delves into the spiritual alchemy of that transformation in all its mystery, difficulty, and inevitability.</p>
						<h4 class="price">current State: <span class="badge text-black">{{book.status}}</span></h4>
						<p class="vote "><strong>91%</strong> of members enjoyed this book! <strong>(87 votes)</strong></p>
						<div class="action mt-4">
							<button class="add-to-cart btn btn-default" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" >Borrow Now</button>
							<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

    <!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Reminder</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            "Please note: Books borrowed from our library are due for return within 14. It's important to adhere to this timeframe to ensure fairness and accessibility for all users. Failure to return books on time may result in overdue fines or restrictions on borrowing privileges. Thank you for your cooperation!"
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Continue</button>
        </div>
      </div>
    </div>
  </div>
   
    <script src="./home.js"></script>
    <script src="./home2.js"></script>
    <script src="https://kit.fontawesome.com/355b51317d.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>

    



</body>

</html>
