{% include "/dashboard/dashboard_header.html" %}
{% include "/dashboard/dashboard-aside.html" %}

      <main class="mt-1 pt-3">
        <div class="container-fluid">
          <div class="row dashboard-counts">
            <div class=" row col-md-12">
              <h4 class="fw-bold text-uppercase">Members Approval</h4>
            </div>

            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  All Members
                </div>
                <div class="card-body">

                    <table class="table">
                        <thead class="table-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">DOB</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Username</th>
                            <th scope="col">Adress</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Ali momtaz</td>
                            <td>03/08/1998</td>
                            <td>noorali.momtaz98@gmail.com</td>
                            <td>797977343</td>
                            <td>Ali@9939</td>
                            <td>Chandigarh</td>
                            <td>
                                <a href="#" class="btn btn-success btn-sm">Approve</a>
                                <a href="#" class="btn btn-danger btn-sm">Reject</a>
                              </td> 
                            
                          </tr>
    
                          <tr>
                            <th scope="row">1</th>
                            <td>Ali momtaz</td>
                            <td>03/08/1998</td>
                            <td>noorali.momtaz98@gmail.com</td>
                            <td>797977343</td>
                            <td>Ali@9939</td>
                            <td>Chandigarh</td>
                            <td>
                                <a href="#" class="btn btn-success btn-sm">Approve</a>
                                <a href="#" class="btn btn-danger btn-sm">Reject</a>
                              </td> 
                            
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Ali momtaz</td>
                            <td>03/08/1998</td>
                            <td>noorali.momtaz98@gmail.com</td>
                            <td>797977343</td>
                            <td>Ali@9939</td>
                            <td>Chandigarh</td>
                            <td>
                                <a href="#" class="btn btn-success btn-sm">Approve</a>
                                <a href="#" class="btn btn-danger btn-sm">Reject</a>
                              </td> 
                            
                          </tr>
                        
                          <tr>
                            <th scope="row">1</th>
                            <td>Ali momtaz</td>
                            <td>03/08/1998</td>
                            <td>noorali.momtaz98@gmail.com</td>
                            <td>797977343</td>
                            <td>Ali@9939</td>
                            <td>Chandigarh</td>
                            <td>
                                <a href="#" class="btn btn-success btn-sm">Approve</a>
                                <a href="#" class="btn btn-danger btn-sm">Reject</a>
                              </td> 
                            
                          </tr>
                        
                          <tr>
                            <th scope="row">1</th>
                            <td>Ali momtaz</td>
                            <td>03/08/1998</td>
                            <td>noorali.momtaz98@gmail.com</td>
                            <td>797977343</td>
                            <td>Ali@9939</td>
                            <td>Chandigarh</td>
                            <td>
                                <a href="#" class="btn btn-success btn-sm">Approve</a>
                                <a href="#" class="btn btn-danger btn-sm">Reject</a>
                              </td> 
                            
                          </tr>
                        
                        </tbody>
                      </table>
                </div>
              </div>
            </div>
            
          </div>
         
        </div>
      </main>

      


















      <script src="https://kit.fontawesome.com/355b51317d.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>